@import './base.scss';
// GoogleFontsからNoto Sans JPの読み込み
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font: {
    family: 'Noto Sans JP';
    // font-sizeに上限と下限を設定した上で可変に
    size: clamp(14px, 1.5vw, 18px);
  }
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

h1 {
  font: {
    weight: 900;
    size: 2rem;
  }
  // margin-bottom: 10px;
  padding: 1%;
}

h2 {
  font: {
    weight: 800;
    size: 1.75rem;
  }
  padding: {
    top: 0.5%;
    bottom: 0.5%;
  }
}
h3,
.h3 {
  color: inherit;
  font: {
    weight: 800;
    size: 1.5rem;
  }
  padding: {
    top: 0.5%;
    bottom: 0.5%;
  }
}
h4,
.h4 {
  color: inherit;
  font: {
    weight: 700;
    size: 1.25rem;
  }
}
h5 {
  font: {
    weight: 600;
    size: 1rem;
  }
}
h6 {
  font: {
    weight: 500;
    size: 1rem;
  }
}

p {
  font: {
    weight: 400;
    size: 1rem;
  }
}
